.dark {

    /* - - - COLORS - - - */

    --body-background-color: #121212;
    --general-box-div-background-color: #420000;
    --hall-box-div-background-color: #427777;
    --lobby-box-div-background-color: #774277;
    --lounge-box-div-background-color: #777742;

    --text-color-dark: #121212;
    --text-shadow-color-dark: #b0b0b0;

    --text-color-bright: #ededed;
    --text-shadow-color-bright: #242424;

    --h1-text-color: #232323;
    --h1-text-shadow-color: #ababab;

    --h2-text-color: #343434;
    --h2-text-shadow-color: #232323;

    --general-p-text-color: #343434;
    --general-p-text-shadow-color: #232323;

    --span-error-text-color: #ee4242;
    --span-error-text-shadow-color: #dd3131;

    --input-background-color: #dcdcdc;
    --input-border-color: #cbcbcb;
    --input-text-color: #121212;
    --input-text-shadow-color: #9a9a9a;

    --button-background-color: #303030;
    --button-border-color: #404040;
    --button-text-color: #efefef;
    --button-text-shadow-color: #424242;

    /* - - - SIZES - - - */

    --h1-font-size: 60px;
    --h2-font-size: 24px;
    --p-font-size: 16px;
    --span-error-font-size: 14px;
    --info-font-size: 14px;

    --input-font-size: 14px;
    --button-font-size: 14px;

    /* - - - STYLES - - - */

    --general-font-family: "Lucida Console";
}